In [1]:
import pandas as pd
from pathlib import Path

In [2]:
amc_csv_path = Path('AMC.csv')
doge_csv_path = Path('DOGE.csv')
gme_csv_path = Path('GME.csv')

In [3]:
amc_df = pd.read_csv(amc_csv_path)
doge_df = pd.read_csv(doge_csv_path)
gme_df = pd.read_csv(gme_csv_path)

In [4]:
gme_df.head()

,Unnamed: 0,title,created,body,timestamp
0,0,"PETITION: Repost ""Robinhood CEO Lying Under Oa...",1.621024e+09,NaN,2021-05-14 13:30:50
1,1,"If you lurk r/GME, and don't post anything eve...",1.616841e+09,I don't know. Please don't comment. The more o...,2021-03-27 03:34:37
2,2,"The Psychological warfare is in the End Phase,...",1.616691e+09,&#x200B;\n\nhttps://preview.redd.it/cunhfgjf05...,2021-03-25 09:46:50
3,3,"Just posted on SEC -- оver $500,000 awarded to...",1.617069e+09,Link to the Press Release on SEC's website:\n\...,2021-03-29 18:53:59
4,4,NO MORE LURKING!,1.616178e+09,EVERY UPVOTE/DOWNVOTE MATTERS! NO MORE LURKING...,2021-03-19 11:12:23

In [5]:
doge_df.head()

    1.0
0   9.0
1  18.0
2  14.0
3  16.0
4  13.0

In [6]:
amc_df.head()

    1.0
0  12.0
1   7.0
2   4.0
3   4.0
4   2.0

In [7]:
column_csv_combined = pd.concat([amc_df, doge_df, gme_df], axis = 'columns', join = 'inner')
column_csv_combined.head()

,1.0,1.0,Unnamed: 0,title,created,body,timestamp
0,12.0,9.0,0,"PETITION: Repost ""Robinhood CEO Lying Under Oa...",1.621024e+09,NaN,2021-05-14 13:30:50
1,7.0,18.0,1,"If you lurk r/GME, and don't post anything eve...",1.616841e+09,I don't know. Please don't comment. The more o...,2021-03-27 03:34:37
2,4.0,14.0,2,"The Psychological warfare is in the End Phase,...",1.616691e+09,&#x200B;\n\nhttps://preview.redd.it/cunhfgjf05...,2021-03-25 09:46:50
3,4.0,16.0,3,"Just posted on SEC -- оver $500,000 awarded to...",1.617069e+09,Link to the Press Release on SEC's website:\n\...,2021-03-29 18:53:59
4,2.0,13.0,4,NO MORE LURKING!,1.616178e+09,EVERY UPVOTE/DOWNVOTE MATTERS! NO MORE LURKING...,2021-03-19 11:12:23

In [8]:
column_csv_combined.dtypes

1.0           float64
1.0           float64
Unnamed: 0      int64
title          object
created       float64
body           object
timestamp      object
dtype: object